@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

#page {
    display: grid;
    width: 100%;
    min-height: 1200px;
    grid-template: [header-left] "head head" 110px [header-right]
                 [main-left]   "nav  main" 1fr  [main-right]
                 [footer-left] "foot  foot" 60px [footer-right]
                 / 140px 1fr;
}

header {
    background-color: lime;
    grid-area: head;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 13px 30px;
}

nav {
    background-color: lightblue;
    grid-area: nav;
}

main {
    /*background-color: yellow;*/
    grid-area: main;
}

footer {
    background-color: red;
    grid-area: foot;
}

.header__logo {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;

}

.header__call > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__call_phone {
    font-size: 1.5rem;
    color: red;
}

.header__call_worktime {
    display: block;
}

.header__login {
    align-self: flex-start;
}

.header__login form {
    display: inline-block;
}

.header__login_input {
    border-radius: 5px;
}

.header__login_button {
    border-radius: 5px;
}

.error {
    background: red;
}

.focused { outline: 1px solid red; }

#registration-form {
    display: inline-block;
    padding: 10px 10px;
    min-width: 200px;
    border: 1px solid black;
    background: #C3E0E5;
    vertical-align: middle;
}

#registration-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#registration-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}

#registration-form input[name="text"] {
    display: block;
    margin: 5px;
    width: 180px;
}

.header__logout span {
    color: red;
    margin-right: 1vw;
}

#grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    height: 120vh;
    margin: 1rem;
}

#grid > div {
    font-size: 1.3vw;
    padding: .1em;
    background: #a8e3de;
    text-align: center;
}

.goods_item img {
    width: 100%;
    height: auto;
}

.goods_item span {
    display: block;
    min-height: 40px;
    margin: .1em 0;
    padding: .2em .5em;
}

.goods_item p {
    display: inline-block;
    float: left;
    font-size: 1.5vw;
    font-weight: bold;
    padding: .5em 1em;
    margin: 0;
}

.goods_item button {
    display: inline-block;
    float: right;
    font-size: 1.5vw;
    font-weight: bold;
    /*padding: .5em 1em;*/
    margin: .35em 1em;
}



