@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@font-face {
    font-family: 'Conv_LSANS';
    src: url('../fonts/LSANS.eot');
    src: local('☺'), url('../fonts/LSANS.woff') format('woff'), url('../fonts/LSANS.ttf') format('truetype'), url('../fonts/LSANS.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(#c0c7c5, #E8D9A9) fixed;
}

#page {
    display: grid;
    width: 100%;
    min-height: 1200px;
    grid-template: [header-left] "head head" 110px [header-right]
                 [main-left]   "nav  main" 1fr  [main-right]
                 [footer-left] "foot  foot" 60px [footer-right]
                 / 140px 1fr;
}

header {
    background: linear-gradient(to top, #eec9a1 20%, #e4e4d8 50%, #c2b7a1 80%);
    grid-area: head;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 13px 30px;
}

nav {
    background-color: #b9bcbd;
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    background-color: #00fff7;
    grid-area: foot;
}

.header__logo > a {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.header__call > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__call_phone {
    font-size: 1.5rem;
    color: red;
}

.header__call_worktime {
    display: block;
}

.header__login {
    align-self: flex-start;
}

.header__login form {
    display: block;
}

.header__login_input {
    margin: 0 3px 3px 3px;
    border-radius: 5px;
}

.header__login button {
    display: block;
    border-radius: 5px;
    margin: 0 3px;
}

.header__login_input[type="submit"]:hover,
.cart__table_order:hover,
.header__login button:hover,
.fa-minus-square:hover,
.fa-plus-square:hover,
.cart__table_delete:hover,
.header__logout button:hover,
.order__grid_number:hover {
    cursor: pointer;
}

.error {
    background: red;
}

.focused { outline: 1px solid red; }

#registration-form {
    display: inline-block;
    padding: 10px 10px;
    min-width: 200px;
    border: 1px solid black;
    background: #C3E0E5;
    vertical-align: middle;
}

#registration-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#registration-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
}

#registration-form input[name="text"] {
    display: block;
    margin: 5px;
    width: 180px;
}

.header__logout span {
    color: red;
    margin-right: 1vw;
}

.header__cart p {
    margin-bottom: 0;
}

/*------------------------------ gridGoods -------------------------------*/

#grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    height: 120vh;
    margin: 1rem;
}

#grid > div {
    font-size: 1.3vw;
    padding: .1em;
    background: #a8e3de;
    text-align: center;
    border-radius: 5px;
}

.goods_item img {
    width: 100%;
    height: auto;
}

.goods_item span {
    display: block;
    min-height: 40px;
    margin: .1em 0;
    padding: .2em .5em;
}

.goods_item_count {
    top: 6px;
    display: inline-block;
    margin: auto;
    font-size: 2vw;
    color: blue;
}

.goods_item p {
    display: inline-block;
    float: left;
    font-size: 1.5vw;
    font-weight: bold;
    padding: .5em 1em;
    margin: 0;
}

.goods_item button {
    display: inline-block;
    float: right;
    font-size: 1.5vw;
    font-weight: bold;
    margin: .35em 1em;
    border-radius: 5px;
    box-shadow: 1px 2px 2px dimgrey;
}

.good_item_added {
    color: white;
    background-color: #0f7f7f;
}

/*----------------------------------- tableCart ---------------------------*/

.cart__table,
.order__blocks,
.order__details {
    width: 80vw;
    margin: 4vw auto;
}

.cart__table table,
.order__blocks table,
.order__details table {
    position: relative;
    width: 100%;
    font-family: 'Conv_LSANS', Sans-Serif;
    font-size: 16px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}

th {
    background: #3bbf98;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: left;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
td {
    padding: 10px 20px;
    background: #F8E391;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    border-right: none;
}

.cart__table_message,
.order__blocks_message,
.order__details_message {
    text-align: center;
    font-size: 20px;
    color: red;
}

.far {
    font-size: large;
}

.fa-minus-square {
    margin-right: 7px;
}

.fa-plus-square {
    margin-left: 7px;
}

.cart__table_order {
    display: block;
    font-size: 18px;
    color: red;
    border-radius: 5px;
    margin: 0 auto 5vw;
    box-shadow: 1px 2px 3px dimgrey;
}

.cart__table_total,
.order__blocks_total,
.order__details_total {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 0;
}

.order__blocks_title {
    font-family: 'Kaushan Script', cursive;
    color: #0f7f7f;
    font-size: 35px;
    margin: 0 auto 2rem;
    text-align: center;
    font-weight: bold;
}

.order__grid {
    display: flex;
    flex-direction: column;
    border: 1px solid #0f7f7f;
    border-radius: 5px;
    margin-bottom: 3rem;
    box-shadow: 2px 2px 2px #6defc9;
    align-content: center;
}

.order__grid_number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #a8e3de;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
}

.order__grid_list {
    padding: 5px 10px;
    background-color: antiquewhite;
}

.order__blocks_total {
    margin-top: 0;
}


